VITE_FIREBASE_API_KEY=AIzaSyDdTqIyYbiCJ7oDCvZYQvRee1LVb99Fwew
VITE_FIREBASE_AUTH_DOMAIN=lexvision-f40aa.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=lexvision-f40aa
VITE_FIREBASE_STORAGE_BUCKET=lexvision-f40aa.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=816723200107
VITE_FIREBASE_APP_ID=1:816723200107:web:1a1b8d097be41ed2fb092e
VITE_FIREBASE_MEASUREMENT_ID=G-N0CFCJXW8G
