ultralytics==8.2.0
torch
torchvision
torchaudio
opencv-python
easyocr
pandas
matplotlib
PyYAML
tqdm
fastapi
uvicorn
python-multipart
pydantic
sqlalchemy
alembic
psycopg2-binary
python-dotenv
firebase-admin
passlib
bcrypt==4.0.1
python-jose[cryptography]
redis
rq
